body{
    margin: 0;
    padding: 0;
    cursor: default;
    height: 100vh;
    background: rgb(34,181,67);
    background: linear-gradient(0deg,  rgba(0,104,55,1) 0%, rgba(34,181,67,1) 100%);
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#header{
    display: flex;
    cursor: default;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(51, 51, 51);
    color: rgb(34, 181, 115);
    font-size: 20px;
    
}


form.logo{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;    
    vertical-align: center;
}

button.logo{
    cursor:pointer;
    height: 100%;
    width: 100px;
    background: none;
    border: none;   
    align-content: center;
}

div.search{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin-right: 10vw;
}

div.fake_input input{
    background-color: rgb(77, 77, 77);
    font-size: 20px;
    border: none;
    display:block;
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    color: white;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


div.fake_input img{
    position: absolute;
    top: 1px;
    right: 5px;
    height: 100%;
    color: rgb(34, 181, 115);
}

div.fake_input button{
    display: flex;
    justify-content: right;
    cursor: pointer;
    background: none;
    border: none;   
    vertical-align: middle;
    height: fit-content;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.fake_input{
    position: relative;
    border: 1px black;
    background-color: rgb(77, 77, 77);
    width: fit-content;
    align-content: center;
    height: 5vh;
}

div.about{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10vw;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn{
    background-color: rgb(51, 51, 51);
    color: rgb(34, 181, 115);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover{
    color: rgb(34, 181, 115);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    text-decoration: none;
    color: rgb(0, 104, 55);
    padding: 8px 16px;
    display: block;
}

.dropdown-content a:hover{
    cursor: pointer;
    color:rgb(34, 181, 115);
}

a:visited{
    text-decoration: none;
}



#main{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}

#header1{
    text-align: center;
}

div.content{
    width: 100%;
    height: 90%;
    vertical-align: middle;
    text-align: center;
}

button.content{
    background-color: rgb(51, 51, 51);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 13px;
    padding: 10px;
    margin-top: 10px;

}

button.content:hover{
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

div.dp{
    width: 100%;
    height: 90%;
    vertical-align: middle;
    text-align: center;
}

li.productItem{
    display: inline-block; 
    zoom: 1;
    *display: inline;
    padding: 50px;
    width: 10vw;
    margin: 5vw;
    background-color: rgb(0, 104, 55);
    color: white;
    border: solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

li.productItem:hover{
    box-shadow: 0px 40px 80px 0px rgba(0,0,0,0.2);
}


#productBtn{
    background-color: rgb(51, 51, 51);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
}

#productBtn:hover{
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

#productsTi{
    margin-top: 10vh;
    font-size: 300%;
}
